# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binary when compiling with go build
go-dns

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore VS Code settings as these are not universally applicable right now
.vscode